body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

nav button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #777;
}

.main-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main-buttons button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-buttons button:hover {
    background-color: #0056b3;
}
